In [1]:
import pandas as pd

In [10]:
data = pd.read_excel("Folds5x2_pp.xlsx",index_col=0)
data

           V       AP     RH      PE
AT
14.96  41.76  1024.07  73.17  463.26
25.18  62.96  1020.04  59.08  444.37
5.11   39.40  1012.16  92.14  488.56
20.86  57.32  1010.24  76.64  446.48
10.82  37.50  1009.23  96.62  473.90
...      ...      ...    ...     ...
16.65  49.69  1014.01  91.00  460.03
13.19  39.18  1023.67  66.78  469.62
31.32  74.33  1012.92  36.48  429.57
24.48  69.45  1013.86  62.39  435.74
21.60  62.52  1017.23  67.87  453.28

[9568 rows x 4 columns]

In [11]:
data.to_csv("Folds5x2_pp.csv",index=False)